/findroots/cmake-build-debug/CMakeFiles/
/findroots/cmake-build-debug/cmake_install.cmake
/findroots/cmake-build-debug/CMakeCache.txt
/findroots/cmake-build-debug/findroots.cbp
/findroots/cmake-build-debug/Makefile
/listdirf/cmake-build-debug/CMakeFiles
/listdirf/cmake-build-debug/cmake_install.cmake
/listdirf/cmake-build-debug/CMakeCache.txt
/listdirf/cmake-build-debug/listdirf.cbp
/listdirf/cmake-build-debug/Makefile
